{% extends "layout.html" %} {% block content %}
<div class="container">
  <article class="media content-section">
    <div class="media-body">
      <h1 class="article-title">{{ club.name }}</h1>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="players-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-selected="true">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!--- This is the beginning of the club players section--->
        <div class="tab-pane fade show active" id="players" role="tabpanel" aria-labelledby="players-tab">
          <!--- This is where we check that status of the current user and present them buttons accordingly ---->
          <br>
          {% if active_status == True %}
            <form action="{{ url_for('clubs.leave_club', club_id=club.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Leave Club">
            </form>
          {% elif pending_status == True %}
            <button class="btn btn-secondary">Pending</button>
          {% elif active_status == False %}
            <form action="{{ url_for('clubs.join_club', club_id=club.id) }}" method="POST">
              <input class="btn btn-success" type="submit" value="Join Club">
            </form>
          {% endif %}
          {% if admin_status == True %}
          <p>You are an admin of this club</p>
          {% endif %}

          <!--- This is where the pending club members loop is ---->
          {% if admin_status == True %}
          <h3 class="article-title">Pending Club Members</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Profile</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players %}
                {% if player.is_member == False %}
                <tr>
                  <td>{{ player.member.first_name }}</td>
                  <td>{{ player.member.last_name }}</td>
                  <td>{{ player.member.email }}</td>
                  {% if player.is_admin == True %}
                    <td>Admin</td>
                  {% else %}
                    <td>Normal</td>
                  {% endif %}
                  <td><a href="{{ url_for('users.user', user_id=player.member.id) }}">View Profile</a></td>
                  <td>
                    <form action="{{ url_for('clubs.approve_member', club_id=club.id, user_id=player.member.id) }}" method="POST">
                      <input class="btn btn-success" type="submit" value="Approve">
                    </form>
                    <form action="{{ url_for('clubs.remove_member', club_id=club.id, user_id=player.member.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Deny">
                    </form>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          <!--- This is where the club members loop is ---->
          <h3 class="article-title">Club Members</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Profile</th>
                {% if admin_status == True %}
                <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for player in players %}
                {% if player.is_member == True %}
                <tr>
                  <td>{{ player.member.first_name }}</td>
                  <td>{{ player.member.last_name }}</td>
                  <td>{{ player.member.email }}</td>
                  {% if player.is_admin == True %}
                    <td>Admin</td>
                  {% else %}
                    <td>Normal</td>
                  {% endif %}
                  <td><a href="{{ url_for('clubs.member_profile', club_id=club.id , user_id=player.member.id) }}">View Profile</a></td>
                  {% if admin_status == True %}
                    <td>
                      {% if player.is_admin == False %}
                        <form action="{{ url_for('clubs.make_admin', club_id=club.id, user_id=player.member.id) }}" method="POST">
                          <input class="btn btn-success" type="submit" value="Make Admin">
                        </form>
                      {% endif %}
                      <form action="{{ url_for('clubs.remove_member', club_id=club.id, user_id=player.member.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Remove">
                      </form>
                    </td>
                  {% endif %}
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!--- This is the beginning of the club teams section--->
        <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
          <br>
          <a href="{{ url_for('teams.new_team', club_id=club.id) }}"><button class="btn btn-success">Create Team</button></a>
          <br>
          <br>
          {% for team in teams %}
          <h3 class="article-title">{{ team.name }}</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Profile</th>
                {% if admin_status == True %}
                <th scope="col">Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for player in team.team_members %}
                {% if player.is_member == True %}
                <tr>
                  <td>{{ player.member.first_name }}</td>
                  <td>{{ player.member.last_name }}</td>
                  <td>{{ player.member.email }}</td>
                  {% if player.is_admin == True %}
                    <td>Admin</td>
                  {% else %}
                    <td>Normal</td>
                  {% endif %}
                  <td><a href="{{ url_for('users.user', user_id=player.member.id) }}">View Profile</a></td>
                  {% if admin_status == True %}
                    <td>
                      {% if player.is_admin == False %}
                        <form action="{{ url_for('clubs.make_admin', club_id=club.id, user_id=player.member.id) }}" method="POST">
                          <input class="btn btn-success" type="submit" value="Make Admin">
                        </form>
                      {% endif %}
                      <form action="{{ url_for('clubs.remove_member', club_id=club.id, user_id=player.member.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Remove">
                      </form>
                    </td>
                  {% endif %}
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
        <!--- This is the beginning of the club settings section--->
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
      </div>


    </div>
  </article>
</div>
{% endblock %}
